!!!5
html
    head
        title Fuzzzzzzzzzzzzyyyyyyy!
        script(src='public/js/main.js')

    body
        video#sourcevid(autoplay, preload, controls) You dont have webrtc :(
        button(onclick="startVideo()") Start stream
        button(onclick="showData()") Show Stream Data
